<div [@routerTransition]>
    <app-page-header [heading]="(empresaSeleccionada | async)?.nombre" [icon]="'fa-edit'"></app-page-header>
    <!--Información Servicios-->
    <!--
    <div class="row">
        <div class="col-sm-4" *ngFor="let servicios of servicios | async">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{servicios.data.nombre}}</h5>
                    <p class="card-text">{{servicios.data.descripcion}}</p>
                    <p class="card-text">{{servicios.data.detalle}}</p>
                    <a href="servicio/informacionservicio/{{servicios.id}}" class="btn btn-primary">Ver Detalle</a>
                </div>
            </div>
        </div>
    </div>-->
    <!--//Información Empresas-->
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            Servicios Disponibles: ({{servicios.l}})
                        </div>
                        <div class="card-body">
                            <div class="list-group" *ngFor="let servicios of servicios | async">
                                <button type="button" class="list-group-item list-group-item-action">{{servicios.data.descripcion}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            Detalle de Servicio:
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <h5 class="card-title"> LAVADO ExPRESS{{ (servicios | async)?.detalle }}</h5>
                            <p class="card-text">Descripción: {{ (servicios | async)?.detalle }}</p>
                            <p class="card-text">Detalle: {{ (servicios | async)?.detalle }}</p>
                            <p class="card-text">Tiempo Estimado: {{ (servicios | async)?.detalle }}</p>
                            <button class="btn btn-primary" type="button">9:30 - 11:30</button>
                            <button class="btn btn-primary" type="button">11:30 - 13:30</button>
                            <button class="btn btn-primary" type="button">14:30 - 15:30</button>
                            <hr>
                            <button class="btn btn-primary" type="button">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            Lista servicios seleccionados
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Servicio</th>
                                        <th scope="col">Tiempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let servicios of servicios | async">
                                        <td>{{servicios.data.descripcion}}</td>
                                        <td>{{servicios.data.tiempoEstandar}}</td>
                                    </tr>
                                    <hr>
                                    <button class="btn btn-primary" type="button">Finalizar Orden</button>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>